.navbar {
  background-image: linear-gradient(to bottom, rgb(14 14 14), rgb(9 9 9 / 7%));
  backdrop-filter: blur(3px);
}

.navbar .navbar-brand {
  color: #E50914;
  font-weight: bold;
}
.navbar-nav .nav-item .nav-link
{
  color: #ffffff;
}
