<div class="contain mt-5 p-5">
  <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="mb-3 col-lg-10">
        <input type="text" class="form-control"  formControlName="movieName" placeholder="Serch Movie Here ...">
      </div>

      <div class="col-lg-2">
        <button class="btn btn-md">Search</button>
      </div>
    </div>

  </form>




  <div class="row mt-5" *ngIf="searchResult">
    <div class="col-lg-2 mb-4" *ngFor="let s of searchResult; let i = index;">
      <app-movie-item
        [imageUrl]="image_base_url + (s.poster_path ? s.poster_path : '')"
        [movieId]="(s.id ? s.id : 0)"
      ></app-movie-item>
      <!-- Add a condition to close and start a new row after every 5 elements -->
      <div *ngIf="(i + 1) % 5 === 0" class="w-100 d-none d-lg-block"></div>
    </div>
  </div>









</div>
